.loader {
    width: 5rem;
    height: 5rem;
    display: block;
    margin-top: 20px;
    margin: 0 auto;
    display: block;
    position: relative;
    color: var(--color-border-reviews);
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader::after,
.loader::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    transform: scale(0.5) translate(0, 0);
    background-color: var(--color-border-reviews);
    border-radius: 50%;
    animation: animloader 1s infinite ease-in-out;
}

.loader::before {
    background-color: var(--color-secondary);
    transform: scale(0.5) translate(-48px, -48px);
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animloader {
    50% {
        transform: scale(1) translate(-50%, -50%);
    }
}